@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    --primary-dark: #edc7b7;
    --primary-dark2: #eee2dc;
    --seconday-light: #ac3b61;
    --text-color: #123c69;
    --par-color: gray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body-section */
body {
    font-family: 'Poppins', sans-serif;
}

/* header-section */
header {
    background-color: var(--primary-dark2);
    padding: 20px;
    color: var(--text-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header a {
    text-decoration: none;
}

.logo {
    color: var(--seconday-light);
    font-weight: bold;
    letter-spacing: 2px;
}



ul {
    display: flex;
    list-style: none;
}

ul li {
    margin-right: 20px;
}

ul li a {
    color: var(--text-color);
    text-decoration: none;
}

ul li a:hover {
    color: var(--seconday-light);

}

header button {
    padding: 10px 20px;
    font-weight: bold;
    background-color: var(--primary-dark);
    border: 1px solid #c30734;
    color: var(--text-color);
    border-radius: 5px;

}

header button:hover {
    cursor: pointer;
    background-color: var(--seconday-light);
    color: var(--text-color);
}

/* section hero homepage */
.hero-section {
    background-color: var(--primary-dark);
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 120px 30px 120px 30px;
}

.hero-section__title {
    font-size: 48px;
    font-weight: 900;
}

.hero-section__title span {
    color: var(--seconday-light);
}

.hero-section img {
    border-radius: 5px;
    width: 400px;
    margin-left: 130px;
}

.hero-section-left {
    color: var(--text-color);
}

.hero-section__desc {
    color: var(--par-color);
}

.hero-section-icons {
    color: var(--text-color);
    margin-left: 70px;
    margin-top: 20px;
    padding-right: 50px;
}

.hero-section-content {
    margin-left: 70px;
    margin-top: 70px;
}

.hero-section-buttons {
    margin-left: 70px;
    margin-top: 20px;
}

.fa-facebook {
    margin-right: 10px;
}

.fa-linkedin {
    margin-right: 10px;
}

.fa-twitter {
    margin-right: 10px;
}
.fa-facebook:hover {
    color: #1877F2;
}
.fa-linkedin:hover {
    color: #0A66C2;
}
.fa-twitter:hover {
    color: #26a7de;
}
.fa-instagram:hover {
    color: #feda75;
}



.dark {
    padding: 10px 20px;
    font-weight: bold;
    background-color: var(--primary-dark);
    border: 1px solid #c30734;
    color: var(--text-color);
    border-radius: 5px;

}

.dark:hover {
    cursor: pointer;
    background-color: var(--seconday-light);
    color: #fff;
}

.light {
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    background-color: var(--seconday-light);
    border: none;
    margin-right: 5px;
}
.light:hover {
    background-color: var(--par-color);
}

/* about me section */
.about-section {
    background-color: var(--primary-dark2);
    color: var(--text-color);
    padding: 60px 0px 60px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.about-section img {
    width: 300px;
    border-radius: 10px;
    border: 3px solid --seconday-light;
}

.about-section-desc {
    margin-left: 80px;
}

.about-section-desc h4 {
    font-size: 25px;
    font-weight: bolder;
    max-width: 350px;
    margin-left: 5px;
}

.about-section-desc ul strong {
    list-style: none;
    color: var(--text-color);
}

.about-section-desc ul {
    color: var(--par-color);
    display: block;
    margin-bottom: 10px;
    margin-right: 2px;

}

.about-section-desc a {
    color: var(--par-color);
}

.about-section-desc ul li {
    margin: 8px;
}

.about-section h4 span {
    color: var(--seconday-light);
}
.about-section button {
    margin-left: 10px;
}

/* work-section */
.work-section {
    background-color: var(--primary-dark);
    padding: 60px;
    text-align: center;
    color: var(--text-color);
}

.work-section-box {
    background-color: var(--primary-dark2);
    padding: 30px;
    max-width: 300px;
    text-align: left;
    border-radius: 10px;
    cursor: pointer;
    margin: 40px;
    text-align: center;
}

.work-section-box:hover {
    background-color: var(--primary-dark);
    border: 1px solid #fff;
}

.work-section-box p {
    color: var(--par-color);
    padding-top: 5px;
    font-size: 14px;
}

.work-section-box a {
    text-decoration: none;
    color: var(--seconday-light);
}

.work-section-desc-box {
    margin-top: 20px;
    margin-bottom: 5px;
}

.work-section-iconbox {
    background-color: var(--seconday-light);
    padding: 10px;
    border-radius: 50%;
}

.work-section-items {
    display: flex;
    justify-content: center;
}

.work-section-title {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 20px;
}

.work-section-title span {
    color: var(--seconday-light);
}

/* contact-section */
.contact-section {
    background-color: var(--primary-dark2);
    padding: 40px;
    text-align: center;
    color: var(--text-color);
}

.contact-section h4 {
    font-size: 30px;
    margin-bottom: 30px;
}

.contact-section span {
    color: var(--seconday-light);
}

.contact-section form div>input,
textarea {
    padding: 5px 10px;
    width: 350px;
    outline: none;
    border: none;
    border-radius: 2px;
    background-color: #c4c4c4;
    margin-bottom: 10px;
    resize: none;

}


footer p {
    background-color: var(--primary-dark);
    color: var(--text-color);
    font-size: 12px;
    text-align: center;
    padding: 20px 0px;
    color: #808080;

}

footer a {
    text-decoration: none;
    color: var(--seconday-light);
    font-size: 12px;
   
}

/* media queires */
@media only screen and (max-width: 600px) {
    /* header-section */
    header {
        flex-direction: column;
    }

    header>* {
        margin-bottom: 10px;
    }

    .header>button {
        margin-right: 10px;
    }

    /* .hero-section */

    section.hero-section {
        flex-direction: column;
        padding: 0px;
        padding-bottom: 20px;
    }
    .hero-section-left{
        text-align: center;
        margin-right: 80px;
        margin-bottom: 20px;
    }
    .hero-section-icons{
        padding: 0px;
    }
    button.light{
        margin: 10px;
        width: 125px;
    }
    .hero-section img {
        margin-left: 80px;
        width: 250px;
    }
    /* about-section */
    .about-section {
        flex-direction: column;
    }
    .about-section img {
        width: 250px;
        margin-right: 20px;
        margin-bottom: 30px;
    }
    .about-section-desc {
        margin-left: 60px;
        margin-top: 20px;
    }
    .about-section-desc ul {
        margin-right: 10px;
    }
    .about-section button.light {
        margin: 0;
        margin-left: 200px;
        margin-top: 20px;
    }

    /* .work-section */

    .work-section-items {
        display: block;
        width: 250px;

    }
    .work-section-box {
        width: 350px;
        margin: 0px;
        margin-bottom: 20px;

    }

}